In [1]:
import numpy as np

In [2]:
options=5
items=5
types=2
ppl_cnt=10

In [3]:
par=np.random.randint(items, size=(options, types))

In [4]:
s = np.random.dirichlet(par[:,0], 1).transpose()
for i in range(1,types):
    s = np.column_stack((s,np.random.dirichlet(par[:,i], 1).transpose()))

In [5]:
R=np.random.choice(range(1,6),items, p=s[:,0],replace=True)
for i in range(ppl_cnt):
    j=np.random.choice(types,1)
    R=np.column_stack((R,np.random.choice(range(1,6),items, p=s[:,j[0]],replace=True)))
R=R.T

In [6]:
S=R

In [7]:
sparsity=.75
index = np.random.choice(ppl_cnt*items,int(ppl_cnt*items*sparsity),replace=False)

In [13]:
l=np.zeros(len(index))
for x in index:
    i=x//items;j=x%items
    S[i,j]=0

In [14]:
S

array([[3, 0, 4, 0, 4],
       [0, 0, 0, 0, 4],
       [0, 4, 0, 4, 0],
       [0, 0, 0, 3, 0],
       [4, 3, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 4, 0, 0],
       [0, 0, 0, 4, 0],
       [0, 0, 0, 0, 0],
       [4, 4, 4, 4, 3]])

In [56]:
mu=np.sum(S)/np.count_nonzero(S)
def fnctn(u,i):
    ru=np.mean(S[u,np.nonzero(S[u,:])]-mu)
    ci=np.mean(S[np.nonzero(S[:,i]),i]-mu-ru)
    return(mu-ru-ci)

In [57]:
fnctn(0,1)

3.2222222222222228

where $S[i,j]=0$ means that the user $i$ has not rated the item $j$. To predict $S[i,j]$, we proceed with an ANOVA style analysis, i.e we consider a mean effect, the effect of being in row $i$ and the effect of being in column $j$. Mathematically we can write,
$$b_{u,i} = \mu + {\bf R}_u + {\bf C}_i,$$
where 
* $\mu$ is the mean rate $$\mu= \frac{\text{np.sum}(S)}{\text{np.count_nonzero}(S)}.$$
* ${\bf R}_u$ is mean effect of being in row $u$, which is $mean(S[u,]-\mu)$, for non-zero elements. To compute ${\bf R}_u$, we first find the index of non-zero elements in $S[u,]$ as follows:
$$\text{nz_ind}=\text{np.nonzero}(S[u,:]).$$
Then the non-zero elements are 
$$\text{nz_el}=S[u,\text{nz_ind}].$$
Then the mean effect of the row $u$ is 
$${\bf R}_u=\text{np.mean}(\text{nz_el}-\mu).$$
* ${\bf C}_i$ is the effect of bein in column $i$, after the previous 2 effects removed
    $${\bf C}_i=np.mean(S[np.nonzero(S[:,i]),i]-\mu-{\bf R}_u)$$

# Content Based Recommender

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Movie':["Love at least","Romance forever","Cute puppies of love",
                            "Nonstope car chases","Swords vs. karate"], 
                   "Alice":[5,5,None,0,0],"Bob":[5,None,4,0,0],"Carol":[0,None,0,5,5],"Dave":[0,0,None,4,None]})
df

   Alice  Bob  Carol  Dave                 Movie
0    5.0  5.0    0.0   0.0         Love at least
1    5.0  NaN    NaN   0.0       Romance forever
2    NaN  4.0    0.0   NaN  Cute puppies of love
3    0.0  0.0    5.0   4.0   Nonstope car chases
4    0.0  0.0    5.0   NaN     Swords vs. karate

Next, assume each movie has 2 features: Romance and Action. We add these two features to the table.

In [12]:
df = pd.DataFrame({'Movie':["Love at least","Romance forever","Cute puppies of love",
                            "Nonstope car chases","Swords vs. karate"], 
                   "Alice":[5,5,None,0,0],"Bob":[5,None,4,0,0],"Carol":[0,None,0,5,5],"Dave":[0,0,None,4,None],
                  "Romance":[.9,1,.99,.1,0], "Action":[0,.01,0,1,.0]})
df

   Action  Alice  Bob  Carol  Dave                 Movie  Romance
0    0.00    5.0  5.0    0.0   0.0         Love at least     0.90
1    0.01    5.0  NaN    NaN   0.0       Romance forever     1.00
2    0.00    NaN  4.0    0.0   NaN  Cute puppies of love     0.99
3    1.00    0.0  0.0    5.0   4.0   Nonstope car chases     0.10
4    0.00    0.0  0.0    5.0   NaN     Swords vs. karate     0.00

In [15]:
cols = df.columns.tolist()
print(cols)
#c=cols[1:6]+cols[0]
#print(c)

['Action', 'Alice', 'Bob', 'Carol', 'Dave', 'Movie', 'Romance']

TypeError: can only concatenate list (not "str") to list

In [10]:
df = pd.DataFrame({"Rater":["Alice","Bob","Carol","Dave"],
                   "Love at least":[5,5,0,0],
                   "Romance forever":[5,None,None,0],
                   "Cute puppies of love":[None,4,0,None],
                   "Nonstope car chases":[0,0,5,4],
                   "Swords vs. karate":[0,0,5,None]})
df

,Cute puppies of love,Love at least,Nonstope car chases,Rater,Romance forever,Swords vs. karate
0,NaN,5,0,Alice,5.0,0.0
1,4.0,5,0,Bob,NaN,0.0
2,0.0,0,5,Carol,NaN,5.0
3,NaN,0,4,Dave,0.0,NaN